@*
// PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
// Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepCoreWebLib, DepAgentModeAddRoleAuthor)]
@model AgentModeAddRoleAuthor
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psrm = Model.PSRM;
  PdpSiteInfoModel psim = psrm.PdpSiteInfo;
  QebiUserRestContext qurc = Model.QURC;
  var clientIsAuthor = qurc.ClientIsAuthor;
  var userIsAuthor = User.IsInRole(NamesForClientRoles.NpdsAuthor.ToString());
}
@Html.Raw(psrm.FormatBodyTitle())
@if (!string.IsNullOrEmpty(psrm.RazorBodyMenu))
{ <p><partial name="@psrm.RazorBodyMenu" /></p> }

@if (userIsAuthor)
{
  <p class="pdpTaskPassed">
    You are registered as a Site User and NPDS Resource Agent Author.
  </p>
}
else
{
  <p>
    You are registered as a Site User but not yet as a member of any other roles. Please note that you
    must add the NPDS Resource Agent role to your account before you can register resource labels and publish
    resource descriptions in any of the NEXUS diristries, PORTAL registries and DOORS directories managed by
    @psim.SiteOwnerName.
      Adding the Agent Author role automatically confers read/write
      privileges as an NPDS Author (resource scope); 
      other higher read/write privilege levels include NPDS Editor
      (registry scope) and NPDS Admin (registrar scope).
  </p>
  <p>
    The original description of the PORTAL-DOORS system of metadata registries and directories distinguished
    between the roles of <em>users</em> and <em>owners</em> of resources and resource metadata. This terminology
    must be refined in the context of an actual implementation with a web application. Here we will use
    the term <em>resource owner</em> to refer to the collection of person(s) and/or organization(s) described
    as the <em>registrant</em> and <em>contact</em> for the resource. Information about the <em>registrant</em>
    and <em>contact</em> will always be displayed and/or available with the information about the resource.
    However, the term <em>agent</em> refers to the person who manages and edits the information about the
    resource. The <em>agent</em> is assumed to be acting on behalf of the <em>registrant</em>, <em>contact</em>,
    and other kinds of owners described in the metadata for the resource. Please note that registration
    of resource metadata by an agent entering data at @psim.SiteOwnerName Registrar
    does not confer legal ownership.
  </p>
  <p>
    To add the <em>NPDS Resource Agent</em> role with Author privileges to your user account, please acknowledge
    the following terms:
  </p>
  <ul>
    <li>
      @psim.SiteOwnerName Registrar reserves the right to revoke privileges
      from any person acting as a NPDS Resource Agent who submits inappropriate and/or offensive content.
      Please report any abuses.
    </li>
    <li>
      @psim.SiteOwnerName Registrar does not confer any legal ownership rights
      for any content submitted by any person acting as a NPDS Resource Agent. All rights previously held
      by you and/or others, such as trade and service marks, will be retained by their respective owners.
    </li>
    <li>
      @psim.SiteOwnerName Registrar will defer to other recognized organizations
      such as the USPTO and similar international organizations in the event of any questions or disputes
      concerning trade and service marks.
    </li>
    <li>
      @psim.SiteOwnerName Registrar services remain under development. Alternative
      resource record management models may be explored including restricted, unrestricted, and hybrid models
      with respect to editing privileges by Agents. The initial current default model is restricted, ie,
      any record entered by you as an Agent can only be edited by you as the Author for that resource record
      albeit possibly subject to review by the Registry Editor and/or Registrar Admin. Unsupervised anonymous
      editing as practiced in some wikis is NOT permitted. @psim.SiteOwnerName
      Registrar reserves the right to change this policy to allow for concurrent use of the hybrid and unrestricted
      models for managing various classes of resource records with the goal of facilitating productive collaborative
      development of the PORTAL-DOORS System for the benefit of all users.
    </li>
    <!--
            <li>A Resource Agent may register information about resources for which the Agent is either the actual owner or else
            an authorized representative of the owner acting on behalf of the owner. Metadata entered in this manner will be marked <em>authorized</em>.
            A metadata record initially registered as an authorized record may not be edited by any other Agent without explicit transfer
            of control of the record from one Agent to another.</li>
            <li>A Resource Agent may also register information about resources for which the Agent is not an authorized representative of the owner.
            Metadata entered in this manner is marked <em>unauthorized</em>. A metadata record initially registered as an unauthorized record</li>
       -->
  </ul>
  <p>
    For the change in role permissions to take effect, you must logout then login again.
    To confirm your agreement, click the button:
  </p>

  <form id="frmAddRole"  asp-page="@DepAgentModeAddRoleAuthor"
      method="post" role="form" class="form-horizontal">
      @Html.AntiForgeryToken()
    <div class="textcenter">
      <button id="btnSubmit" type="submit" class="btn btn-outline-primary">Add Author Role</button>
      <button id="btnCancel" type="reset" class="btn btn-outline-primary">Cancel</button>
    </div>
  </form>

}
