@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Licensed per the OSI approved MIT License (https://opensource.org/licenses/MIT).
*@

@{
  var prc = ViewBag.PRC;
}

<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
  <meta name="author" content="PORTAL-DOORS Project" />
  <meta name="keywords" content="PDP, NPDS, semantic web and grid, information and knowledge engineering" />
  <meta name="description" content="@Html.Raw(prc.SiteDescription) for the NPDS Cyberinfrastructure" />
  <title>@Html.Raw(prc.SiteTitle)</title>
  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist413/css/bootstrap.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist413/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
  </environment>
  <!-- css styles before js scripts -->
  <link href="~/lib/kendo/2021.2.616/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
  <link href="~/lib/kendo/2021.2.616/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
  <link href="~/lib/kendo/2021.2.616/styles/kendo.blueopal.mobile.min.css" rel="stylesheet" type="text/css" />
  <link href="~/PdpSiteDefault.css" rel="stylesheet" type="text/css" />
  <!-- Kendo scripts after jQuery scripts -->
  <script src="~/lib/kendo/2021.2.616/js/jquery.min.js"></script>
  <script src="~/lib/kendo/2021.2.616/js/jszip.min.js"></script>
  <script src="~/lib/kendo/2021.2.616/js/kendo.all.min.js"></script>
  <script src="~/lib/kendo/2021.2.616/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
  <div class="pdpPage container">
    <header class="pdpHead container row nav navbar navbar-left">
      <nav class="col-md-12">
        <a asp-area="PDP" asp-controller="Site" asp-action="Info">@Html.Raw(prc.FormatSiteTitle())</a>
        <h4>PORTAL-DOORS Project (<a href="http://www.portaldoors.org/" target="_blank">PDP</a>)
        for the Nexus-PORTAL-DOORS-Scribe (<a href="http://www.npdslinks.org/" target="_blank">NPDS</a>) Cyberinfrastructure</h4>
        <partial name="@prc.PageMenu" />
      </nav>
    </header>
    <div class="pdpClear"><hr /></div>
    <section class="pdpBody container body-content">
      @RenderBody()
    </section>
    <div class="pdpClear"><hr /></div>
    <footer class="pdpFoot container row nav navbar navbar-left">
      <nav class="col-md-offset-3">
        Powered by @prc.SiteAppNameVersion.<br /> 
	PDP websites &copy; 2007 - @DateTime.Now.Year
        <a href="http://www.portaldoors.org/" target="PDPO">PORTAL-DOORS Project (PDP)</a>.<br />
        8 Gilly Flower Street, Ladera Ranch CA 92694 USA. Tel:+1(949)481-3121.<br />
      </nav>
    </footer>
  </div>
  <environment names="Development">
    <script src="~/lib/bootstrap/dist413/js/bootstrap.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist413/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
  </environment>
  @RenderSection("Scripts", required: false)
</body>
</html>
