@*
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@model PdpRestContext // retain for Model vs ViewData tests and use in form
@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/ScribeRestLibTest/Agent"))
<p><partial name="_MenuScribeRestLibTest" /></p>

<p>Guids from webapp cookies, keys from request querystring.</p>

<h4>AspNetCore ViewModel Test</h4>
<p>User: Guid = @Model?.UserGuid, Key = @Model?.UserKey</p>
<p>Agent: Guid = @Model?.AgentGuid, Key = @Model?.AgentKey</p>
<p>Agent Infoset: Guid = @Model?.AgentInfosetGuid, Key = @Model?.AgentInfosetKey</p>
<p>Agent Session: Guid = @Model?.SessionGuid, Key = @Model?.SessionKey</p>

<h4>AspNetCore ViewData Test</h4>
<p>User: Guid = @prc.UserGuid, Key = @prc.UserKey</p>
<p>Agent: Guid = @prc.AgentGuid, Key = @prc.AgentKey</p>
<p>Agent Infoset: Guid = @prc.AgentInfosetGuid, Key = @prc.AgentInfosetKey</p>
<p>Agent Session: Guid = @prc.SessionGuid, Key = @prc.SessionKey</p>
