@{
  var auth = User?.Identity?.IsAuthenticated;
  bool userAuth = (bool)(auth ?? false);
  var userName = User?.Identity?.Name;
}

<div>
  @if (userAuth)
  {
    @Html.ActionLink("Logout", "LogoutUser", "AuthSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
  }
  else
  {
    @Html.ActionLink("Register", "RegisterUser", "AnonSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
    @Html.ActionLink("Login", "LoginUser", "AnonSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
  }
  @if (userAuth)
  {
    @Html.ActionLink(userName, "DisplayProfile", "AuthSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
    @Html.ActionLink("Change Profile", "ChangeProfile", "AuthSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
    @Html.ActionLink("Change Email", "ChangeEmail", "AuthSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
    @Html.ActionLink("Change Password", "ChangePassword", "AuthSiaa", new { area = "NPDS" })
    @Html.Raw(" | ")
    @Html.ActionLink("Change Username", "ChangeUsername", "AuthSiaa", new { area = "NPDS" })
  }
</div>
