@model ChangeProfileUxm

@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AuthNexus/DisplayProfile"))

<section id="DisplayProfileForm">
  @using (Html.BeginForm("DisplayProfile", "AuthNexus", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
  {
    <div class="form-group">
      @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UserNameDisplayed, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UserNameDisplayed, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UserNameDisplayed, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.WebsiteAddress, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.WebsiteAddress, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.WebsiteAddress, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.Organization, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.Organization, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.Organization, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DateProfileChanged, new { @class = "control-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.DateProfileChanged, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.DateProfileChanged, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
  }
</section>

<partial name="_MenuAuthNexusLogout" />
