@model ChangeUsernameUxm
@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Anon/ResetUsername"))

<section id="ResetUsernameForm">
  @using (Html.BeginForm("ResetUsername", "Anon", FormMethod.Post, new { area = "PDP", role = "form", @class = "form-horizontal" }))
  {
    <p>
      To reset your username, please enter your userguid and then answer the security question.
    </p>
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.HiddenFor(m => m.RequireASQ, new { Value = Model.RequireASQ })
      @Html.HiddenFor(m => m.WizardStep, new { Value = Model.WizardStep })
      @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    if ((Model.WizardStep == 1) || (Model.WizardStep == 3))
    {
      <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-3" })
        @Html.TextBoxFor(m => m.UserName, new { Value = Model.UserName, @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
    }
    else
    {
      <div class="form-group">
        @Html.HiddenFor(m => m.UserName, new { Value = Model.UserName })
      </div>
    }
    if (Model.WizardStep == 2)
    {
      <div class="form-group">
        @Html.LabelFor(m => m.SecurityQuestion, new { @class = "control-label col-md-3" })
        @Html.TextBoxFor(m => m.SecurityQuestion, new { Value = Model.SecurityQuestion, @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.SecurityQuestion, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
      <div class="form-group">
        @Html.LabelFor(m => m.SecurityAnswer, new { @class = "control-label col-md-3" })
        @Html.TextBoxFor(m => m.SecurityAnswer, new { Value = Model.SecurityAnswer, @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.SecurityAnswer, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
    }
    else
    {
      <div class="form-group">
        @Html.HiddenFor(m => m.SecurityQuestion, new { Value = Model.SecurityQuestion })
        @Html.HiddenFor(m => m.SecurityAnswer, new { Value = Model.SecurityAnswer })
      </div>
    }
    if (Model.WizardStep == 3)
    {
      <div class="form-group">
        @Html.LabelFor(m => m.SecurityToken, new { @class = "control-label col-md-3" })
        @Html.TextBoxFor(m => m.SecurityToken, new { Value = Model.SecurityToken, @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.SecurityToken, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
      <div class="form-group">
        @Html.LabelFor(m => m.NewUsername, new { @class = "control-label col-md-3" })
        @Html.PasswordFor(m => m.NewUsername, new { @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.NewUsername, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
      <div class="form-group">
        @Html.LabelFor(m => m.AltUsername, new { @class = "control-label col-md-3" })
        @Html.PasswordFor(m => m.AltUsername, new { @class = "form-control col-md-3" })
        @Html.ValidationMessageFor(m => m.AltUsername, null, new { @class = "control-label col-md-6 text-danger" })
      </div>
    }
    else
    {
      <div class="form-group">
        @Html.HiddenFor(m => m.SecurityToken, new { Value = Model.SecurityToken })
        @Html.HiddenFor(m => m.NewUsername, new { Value = Model.NewUsername })
      </div>
    }
    <div class="form-group">
      <button type="submit" class="btn btn-default col-md-offset-2 col-md-2">Reset Username</button>
    </div>
  }
</section>

<partial name="_ValidationScripts" />
