@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  string userName = (User?.Identity?.Name ?? string.Empty);
}

<span>
  ScribeWebLib:
  <a asp-page="@DepPdpSiteIndex">PdpSite</a>
  <span> | </span>
  @if (userAuth)
  {
    <a asp-page="@DepAuthModeIndex">AuthMode</a>
  }
  else
  {
    <a asp-page="@DepAnonModeIndex">AnonMode</a>
  }
  <span> | </span>
  <a asp-page="@DepScribeServerIndex">ScribeServer</a>
  <span> | </span>
  <a asp-page="@DepSwlHomeIndex">ScribeWebLib</a>
</span>
