@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<span>
  SwlHome:
  <a asp-page="@DepSwlHomeIndex">Index</a>
  <span> | </span>
  <a asp-page="@DepSwlHomeAgentHelp">AgentHelp</a>
  <span> | </span>
  <a asp-page="@DepSwlHomeAuthorHelp">AuthorHelp</a>
  <span> | </span>
  <a asp-page="@DepSwlHomeEditorHelp">EditorHelp</a>
  <span> | </span>
  <a asp-page="@DepSwlHomeAdminHelp">AdminHelp</a>
</span>
