@{
    var auth = User?.Identity?.IsAuthenticated;
    bool userAuth = (bool)(auth ?? false);
    var userName = User?.Identity?.Name;
}

<div>
    @if (userAuth)
    {
        @Html.ActionLink("Logout", "LogoutUser", "Auth", new { area = "PDP" })
        @Html.Raw(" | ")
    }
    else
    {
        @Html.ActionLink("Register", "RegisterUser", "Anon", new { area = "PDP" })
        @Html.Raw(" | ")
        @Html.ActionLink("Login", "LoginUser", "Anon", new { area = "PDP" })
        @Html.Raw(" | ")
    }
    @if (userAuth)
    {
        @Html.ActionLink(userName, "DisplayProfile", "Auth", new { area = "PDP" })
        @Html.Raw(" | ")
        @Html.ActionLink("Change Profile", "ChangeProfile", "Auth", new { area = "PDP" })
        @Html.Raw(" | ")
        @Html.ActionLink("Change Email", "ChangeEmail", "Auth", new { area = "PDP" })
        @Html.Raw(" | ")
        @Html.ActionLink("Change Password", "ChangePassword", "Auth", new { area = "PDP" })
        @Html.Raw(" | ")
        @Html.ActionLink("Change Username", "ChangeUsername", "Auth", new { area = "PDP" })
    }
</div>
