@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AuthMode/DisplayProfile"
@model AuthModeDisplayProfile
@{
  var psr = (PdpSiteRazorModel)Model.PSR;
  var qurc = (QebUserRestContext)Model.QURC;
}
@Html.Raw(psr.FormatBodyTitle())
<p><partial name="@psr.RazorBodyMenu" /></p>

<form id="frmDisplayProfile" asp-page="/NPDS/AuthMode/DisplayProfile" 
    method="get" role="form" class="form-horizontal">
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.FirstName, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.FirstName, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.FirstName, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.LastName, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.LastName, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.LastName, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.QebUserNameDisplayed, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.QebUserNameDisplayed, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.QebUserNameDisplayed, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.PhoneNumber, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.PhoneNumber, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.PhoneNumber, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.WebsiteAddress, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.WebsiteAddress, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.WebsiteAddress, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.Organization, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.Organization, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.Organization, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.DateProfileChanged, new { @class = "form-label col-md-offset-1 col-md-2" })
      @Html.TextBoxFor(m => m.UXM.DateProfileChanged, new { @class = "form-control col-md-3", disabled = "disabled" })
      @Html.ValidationMessageFor(m => m.UXM.DateProfileChanged, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
</form>

