@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  string userName = (User?.Identity?.Name ?? string.Empty);
  <span>
    NexusServer:
    <a asp-page="@DepNexusServerIndex">Index</a>
    <span> | </span>
    <a asp-page="@DepNexusServerAnonResreps">AnonResreps</a>
    @if (userAuth)
    {
      <span> | </span>
      <a asp-page="@DepNexusServerUserResreps">UserResreps</a>
      <span> | </span>
      <a asp-page="@DepNexusServerAgentResreps">AgentResreps</a>
      <span> | </span>
      <a asp-page="@DepNexusServerAuthorResreps">AuthorResreps</a>
      <span> | </span>
      <a asp-page="@DepNexusServerEditorResreps">EditorResreps</a>
      <span> | </span>
      <a asp-page="@DepNexusServerAdminResreps">AdminResreps</a>
    }
  </span>
}
