@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<span>
  NwlHome:
  <a asp-page="@DepNwlHomeIndex">Index</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeAnonHelp">AnonHelp</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeUserHelp">UserHelp</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeAgentHelp">AgentHelp</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeAuthorHelp">AuthorHelp</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeEditorHelp">EditorHelp</a>
  <span> | </span>
  <a asp-page="@DepNwlHomeAdminHelp">AdminHelp</a>
</span>
