@model PdpRestContext
@* retain PdpRestContext model for use in forms and for Model vs ViewBag tests *@

@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle("PDP/SiaaTestLib/Agent"))


<p>Guids from webapp cookies, keys from request querystring.</p>

<h4>AspNetCore ViewModel Test</h4>
<p>User: Guid = @Model.UserGuid, Key = @Model.UserKey</p>
<p>Agent: Guid = @Model.AgentGuid, Key = @Model.AgentKey</p>
<p>Agent Infoset: Guid = @Model.AgentInfosetGuid, Key = @Model.AgentInfosetKey</p>
<p>Agent Session: Guid = @Model.SessionGuid, Key = @Model.SessionKey</p>

<h4>AspNetCore ViewBag Test</h4>
<p>User: Guid = @ViewBag.PRC.UserGuid, Key = @ViewBag.PRC.UserKey</p>
<p>Agent: Guid = @ViewBag.PRC.AgentGuid, Key = @ViewBag.PRC.AgentKey</p>
<p>Agent Infoset: Guid = @ViewBag.PRC.AgentInfosetGuid, Key = @ViewBag.PRC.AgentInfosetKey</p>
<p>Agent Session: Guid = @ViewBag.PRC.SessionGuid, Key = @ViewBag.PRC.SessionKey</p>
