@using PDP.DREAM.NpdsDataLib.Models.NpdsSqlDatabase
@model ResrepMergeToSameModel
@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle("Admin MergeToSame Principle for PDP-DREAM"))

<p>
  This form intended for import and creation of PDP-DREAM diristry records 
  for PDP-DREAM principles.
  The source reference for the principle may be entered as an NPDS CrossReference 
  (with identifying EntityLabel) to the NPDS metadata record 
  about the source reference, and also as an NPDS Location 
  (with URL and page number querystring <q>?page=123</q>) to 
  an e-copy of the source reference.
  A pseudo-XML/RDF summary of Subject-Verb-Object for the principle
  may be entered as an NPDS Description initially formatted simply as
<q>@Html.Raw(Html.Encode(@"<desc><sub>the subject</sub><vrb>the verb</vrb><obj> the object</obj></desc>"))</q>
  (or as more formal valid XML/RDF).
</p>

<section id="DreamPrincipleForm">
  @using (Html.BeginForm("MergeToSame", "AdminResreps", new { area = "PDP" }, FormMethod.Post))
  {
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.RecordHandleToRetain, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.RecordHandleToRetain, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.RecordHandleToRetain, null, new { @class = "control-label col-md-3 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.RecordHandleToDelete, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.RecordHandleToDelete, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.RecordHandleToDelete, null, new { @class = "control-label col-md-3 text-danger" })
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default col-md-offset-2 col-md-2">Merge To Same</button>
    </div>
  }
</section>

<partial name="_ValidationScripts" />
