@{
  var keys = new Dictionary<string, string>() { ["ugk"] = ViewBag.PRC.UserKey, ["agk"] = ViewBag.PRC.AgentKey, ["sgk"] = ViewBag.PRC.SessionKey };
}

<div>
  @if (User?.Identity?.IsAuthenticated ?? false)
  {
    <a asp-area="PDP" asp-controller="Agent" asp-action="Index" asp-all-route-data="@keys">Agent</a><span> | </span>
    <a asp-area="PDP" asp-controller="Agent" asp-action="CheckSession" asp-route-ugk="@ViewBag.PRC.UserKey" asp-route-agk="@ViewBag.PRC.AgentKey" asp-route-sgk="@ViewBag.PRC.SessionKey">Session</a><span> | </span>
    <a asp-area="PDP" asp-controller="Auth" asp-action="DisplayProfile" title="Profile">@User.Identity.Name</a><span> | </span>
    <a asp-area="PDP" asp-controller="Auth" asp-action="LogoutUser">Logout</a>
    @if (User.IsInRole("NpdsAdmin"))
    {
      <br />
      <a asp-area="PDP" asp-controller="Admin" asp-action="Index">Admin Index</a><span> | </span>
      <a asp-area="PDP" asp-controller="Admin" asp-action="ViewRoles">View Roles</a><span> | </span>
      <a asp-area="PDP" asp-controller="Admin" asp-action="EditRoles">Edit Roles</a><span> | </span>
      <a asp-area="PDP" asp-controller="Admin" asp-action="ViewUsers">View Users</a><span> | </span>
      <a asp-area="PDP" asp-controller="Admin" asp-action="EditUsers">Edit Users</a>
    }
  }
  else
  {
    <a asp-area="PDP" asp-controller="Anon" asp-action="RegisterUser">Register</a><span> | </span>
    <a asp-area="PDP" asp-controller="Anon" asp-action="LoginUser">Login</a>
  }
</div>
