@*  
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext)ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/ScribeAdminResreps/Index"))
<p><partial name="_MenuScribeAdminResreps" /></p>

<p>
  You are registered as an NPDS Record Administrator
  and may edit resource metadata records on this server for any services
  for which you have been granted Administrator privileges.
</p>


<h4>NPDS Admin Manage Records</h4>

<ul>
  <li> @Html.ActionLink("NPDS Service Defaults", "NpdsServiceDefaults", "ScribeAdminResreps", new { area = "NPDS", serviceType = "Nexus", serviceTag = "NPDS-Root" }) </li>
  <li> @Html.ActionLink("NPDS Service Restrictions", "NpdsServiceRestrictions", "ScribeAdminResreps", new { area = "NPDS" }) </li>
  <li> @Html.ActionLink("Request Author Access to Resrep", "NpdsRequestResrepAuthor", "ScribeAdminResreps", new { area = "NPDS" }) </li>
  <li> @Html.ActionLink("Request Editor Access to Service", "NpdsRequestServiceEditor", "ScribeAdminResreps", new { area = "NPDS" }) </li>
</ul>

<h4>NPDS Admin Manage SIAA Users and Roles</h4>

<div>
  SIAA Admin Controller Actions:
  <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="ViewSiaaRoles">View Roles</a> |
  <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="EditSiaaRoles">Edit Roles</a> |
  <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="ViewSiaaUsers">View Users</a> |
  <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="EditSiaaUsers">Edit Users</a>
</div>
