@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AgentCore/CheckSession"
@model AgentCoreCheckSession
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psr = Model.PSR;
  QebUserRestContext qurc = Model.QURC;
}
@Html.Raw(psr.FormatPageTitle())
<p><partial name="@psr.RazorBodyMenu" /></p>

@if (userAuth && PDPSS.AppUseDevtestFeature)
{
  <h5>AspNetCore ViewData Test</h5>

  <p>Guids from webapp cookies, keys from request querystring.</p>
  <p>User: Guid = @qurc.QebUserGuid, Key = @qurc.QebUserKey</p>
  <p>Agent: Guid = @qurc.QebAgentGuid, Key = @qurc.QebAgentKey</p>
  <p>Session: Guid = @qurc.QebSessionGuid, Key = @qurc.QebSessionKey</p>
}
