@{
  var prc = (PdpRestContext)ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AgentScribe/Index"))

<p>
  You are registered as a site user. You may access the following services:
</p>
<ul>
  <li>@Html.ActionLink("Change User Email", "ChangeEmail", "AuthScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Change User Password", "ChangePassword", "AuthScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Change User Profile", "ChangeProfile", "AuthScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Add Author Role", "AddRoleAuthor", "AgentScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Add Editor Role", "AddRoleEditor", "AgentScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Check Agent Session", "CheckSession", "AgentScribe", new { area = "NPDS" })</li>
  <li>@Html.ActionLink("Agent Role Help", "Help", "AgentScribe", new { area = "NPDS" })</li>
</ul>
