@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AnonCore/ResetUsername3"
@model AnonCoreResetUsername3
@{
  var psr = (PdpSiteRazorModel)Model.PSR;
  var qurc = (QebUserRestContext)Model.QURC;
}
@Html.Raw(psr.FormatPageTitle())

@if (Model.UXM.FormCompleted)
{
  <p class="pdpTaskPassed">
    Your username has been reset.
  </p>
}
else
{
  <form id="frmResetUsername3" asp-page="/NPDS/AnonCore/ResetUsername3"
      method="post" role="form" class="form-horizontal">
    <p>
      To reset your username, please enter your password and then answer the security question.
    </p>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.PassWord, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.PassWord, new { @class = "form-control col-md-3", Value = Model.UXM.PassWord })
      @Html.ValidationMessageFor(m => m.UXM.PassWord, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityToken, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityToken, new { @class = "form-control col-md-3", Value = Model.UXM.SecurityToken })
      @Html.ValidationMessageFor(m => m.UXM.SecurityToken, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.NewUsername, new { @class = "form-label col-md-3" })
      @Html.PasswordFor(m => m.UXM.NewUsername, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.NewUsername, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.AltUsername, new { @class = "form-label col-md-3" })
      @Html.PasswordFor(m => m.UXM.AltUsername, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.AltUsername, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <br />
    <button id="btnResetUsername3" type="submit" class="btn btn-outline-primary">Reset Password</button>
  </form>
}
