@model ChangeEmailUxm

@{
  var prc = (PdpRestContext) ViewData["PRC"]; 
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonScribe/ConfirmEmail"))

<section id="RegisterUserForm">
  @using (Html.BeginForm("ConfirmEmail", "AnonScribe", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    <p>
      To confirm your email, please enter your username and security token.
    </p>
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.SecurityToken, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.SecurityToken, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.SecurityToken, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default col-md-offset-2 col-md-2">Confirm Email</button>
    </div>
  }
</section>

<partial name="_ValidationScripts" />
