@model ContactUserUxm

@{
  var prc = (PdpRestContext) ViewData["PRC"]; 
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonScribe/ContactSite"))

<section id="ContactSiteForm">
  @using (Html.BeginForm("ContactSite", "AnonScribe", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    <p>
      To contact the site administrator, please complete the form below with your information and message.
    </p>
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailAlternate, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.EmailAlternate, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.EmailAlternate, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.WebsiteAddress, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.WebsiteAddress, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.WebsiteAddress, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.Organization, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.Organization, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.Organization, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailSubject, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.EmailSubject, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.EmailSubject, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailBody, new { @class = "control-label col-md-3" })
      @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.EmailBody, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default col-md-offset-2 col-md-2">Contact Site</button>
    </div>
  }
</section>

<partial name="_ValidationScripts" />
