@model RegisterUserUxm

@{
  var prc = (PdpRestContext)ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonScribe/RegisterUser"))

<section id="RegisterUserForm">
  @using (Html.BeginForm("RegisterUser", "AnonScribe", FormMethod.Post, new { area = "NPDS", role = "form", @class = "form-horizontal" }))
  {
    <p>
      Use the form below to register a new user account.
    </p>
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.PassWord, new { @class = "control-label col-md-3" })
      @Html.PasswordFor(m => m.PassWord, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.PassWord, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.AltPassword, new { @class = "control-label col-md-3" })
      @Html.PasswordFor(m => m.AltPassword, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.AltPassword, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.SecurityQuestion, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.SecurityQuestion, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.SecurityAnswer, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.SecurityAnswer, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.SimpleCaptcha, new { @class = "control-label col-md-3" })
      @Html.TextBoxFor(m => m.SimpleCaptcha, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.SimpleCaptcha, null, new { @class = "control-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      <button id="btnRegisterUser" type="submit" class="btn btn-default col-md-offset-2 col-md-2">Register User</button>
    </div>
  }
</section>

<partial name="_ValidationScripts" />
