@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/CwlHome/RazorRoutes"
@model CwlHomeRazorRoutes
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Routing
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.ApplicationModels
@using Microsoft.AspNetCore.Mvc.Controllers;
@inject IHttpContextAccessor HttpContextAccessor
@inject IEnumerable<EndpointDataSource> epDataSources
@{
  var psr = (PdpSiteRazorModel)Model.PSR;
  var qurc = (QebUserRestContext)Model.QURC;
  var rrepList = epDataSources.SelectMany(s => s.Endpoints)
    .OfType<RouteEndpoint>().OrderBy(p => p.Order).ThenBy(p => p.DisplayName).ToList();
}
@Html.Raw(psr.FormatPageTitle())

@if (!string.IsNullOrEmpty(psr.RazorBodyMenu))
{
  <p><partial name="@psr.RazorBodyMenu" /></p>
}

<h4>PDP Current Route</h4>
<ul>
  <li>RequestUrl: @qurc.NpdsRequest.GetDisplayUrl()</li>
  <li>Endpoint: @qurc.NpdsContext.GetEndpoint().DisplayName</li>
  <li>RouteDataValues: @string.Join(',', qurc.NpdsContext.GetRouteData().Values.Select(p => p.ToString()))</li>
  <li>QueryString: @qurc.NpdsRequest.QueryString</li>
</ul>

<h4>PDP Razor Routes (Endpoints)</h4>
<table class="pdpTable">
  <thead>
    <tr>
      <th>Order</th>
      <th>Display Name</th>
      <th>Route Pattern</th>
    </tr>
  </thead>
  <tbody>
    @foreach (RouteEndpoint rrep in rrepList)
    {
      EndpointMetadataCollection epmd = rrep.Metadata;
      string repname = epmd.GetMetadata<RouteNameMetadata>()?.RouteName;
      var mdList = epmd.Select(p => p).OrderBy(p => p.ToString()).ToList();
        <tr>
          <td>@rrep.Order</td>
          <td>@repname</td>
          <td>
            <span style="color:navy"><span>&ldquo;</span>@rrep.RoutePattern.RawText<span>&rdquo;</span></span>
        </td>
      </tr>
    }
  </tbody>
</table>

