@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/CwlHome/RazorFormats"
@model CwlHomeRazorFormats
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.Extensions.Options
@inject IOptions<RazorViewEngineOptions> rveOptions
@{
  var psr = (PdpSiteRazorModel)Model.PSR;
  var pageLocFormats = rveOptions.Value.PageViewLocationFormats;
  var viewLocFormats = rveOptions.Value.ViewLocationFormats;
  var viewLocExpanders = rveOptions.Value.ViewLocationExpanders;
}
@Html.Raw(psr.FormatPageTitle())

@if (!string.IsNullOrEmpty(psr.RazorBodyMenu))
{
  <p><partial name="@psr.RazorBodyMenu" /></p>
}

<h4>Page Location Formats</h4>

<ul>
  @foreach (var locFormat in pageLocFormats)
  {
    <li>@locFormat</li>
  }
</ul>

<h4>View Location Formats</h4>

<ul>
  @foreach (var locFormat in viewLocFormats)
  {
    <li>@locFormat</li>
  }
</ul>

<h4>View Location Expanders</h4>

<ul>
  @foreach (var locExp in viewLocExpanders)
  {
    <li>@locExp</li>
  }
</ul>
