@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AnonMode/ResetUsername2"
@model AnonModeResetUsername2
@{
  PdpSiteRazorModel psrm = Model.PSRM;
  QebiUserRestContext qurc = Model.QURC;
}
@Html.Raw(psrm.FormatBodyTitle())

@if (Model.UXM.FormCompleted)
{
  <p class="pdpTaskPassed">
    A security token has been sent to you for resetting your username.
    Please check your email and click on the confirmation link to complete the change.
  </p>
}
else
{
  <form id="frmResetUsername2" asp-page="/NPDS/AnonMode/ResetUsername2"
      method="post" role="form" class="form-horizontal">
    <p>
      To reset your username, please enter your password and then answer the security question.
    </p>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.PassWord, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.PassWord, new { @class = "form-control col-md-3", Value = Model.UXM.PassWord })
      @Html.ValidationMessageFor(m => m.UXM.PassWord, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityQuestion, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityQuestion, new { @class = "form-control col-md-3", Value = Model.UXM.SecurityQuestion })
      @Html.ValidationMessageFor(m => m.UXM.SecurityQuestion, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityAnswer, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityAnswer, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.SecurityAnswer, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <br />
    <button id="btnResetUsername2" type="submit" class="btn btn-outline-primary">Next Step</button>
  </form>
}
