@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AnonMode/ResetPassword3"
@model AnonModeResetPassword3
@{
  PdpSiteRazorModel psr = Model.PSR;
  // QebUserRestContext qurc = Model.QURC;
}
@Html.Raw(psr.FormatBodyTitle())

@if (Model.UXM.FormCompleted)
{
  <p class="pdpTaskPassed">
    Your password has been reset.
  </p>
}
else
{
  <form id="frmResetPassword3" asp-page="/NPDS/AnonMode/ResetPassword3"
      method="post" role="form" class="form-horizontal">
    <p>
      To reset your password, please enter your username and then answer the security question.
    </p>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.UserName, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.UserName, new { @class = "form-control col-md-3", Value = Model.UXM.UserName })
      @Html.ValidationMessageFor(m => m.UXM.UserName, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityToken, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityToken, new { @class = "form-control col-md-3", Value = Model.UXM.SecurityToken })
      @Html.ValidationMessageFor(m => m.UXM.SecurityToken, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.NewPassword, new { @class = "form-label col-md-3" })
      @Html.PasswordFor(m => m.UXM.NewPassword, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.NewPassword, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.AltPassword, new { @class = "form-label col-md-3" })
      @Html.PasswordFor(m => m.UXM.AltPassword, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.AltPassword, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <br />
    <button id="btnResetPassword3" type="submit" class="btn btn-outline-primary">Reset Password</button>
  </form>
}
