@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AnonMode/ResetPassword2"
@model AnonModeResetPassword2
@{
  PdpSiteRazorModel psr = Model.PSR;
  // QebUserRestContext qurc = Model.QURC;
}
@Html.Raw(psr.FormatBodyTitle())

@if (Model.UXM.FormCompleted)
{
  <p class="pdpTaskPassed">
    A security token has been sent to you for resetting your password.
    Please check your email and click on the confirmation link to complete the change.
  </p>
}
else
{
  <form id="frmResetPassword2" asp-page="/NPDS/AnonMode/ResetPassword2"
      method="post" role="form" class="form-horizontal">
    <p>
      To reset your password, please enter your username and then answer the security question.
    </p>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.UserName, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.UserName, new { @class = "form-control col-md-3", Value = Model.UXM.UserName })
      @Html.ValidationMessageFor(m => m.UXM.UserName, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityQuestion, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityQuestion, new { @class = "form-control col-md-3", Value = Model.UXM.SecurityQuestion })
      @Html.ValidationMessageFor(m => m.UXM.SecurityQuestion, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.UXM.SecurityAnswer, new { @class = "form-label col-md-3" })
      @Html.TextBoxFor(m => m.UXM.SecurityAnswer, new { @class = "form-control col-md-3" })
      @Html.ValidationMessageFor(m => m.UXM.SecurityAnswer, null, new { @class = "form-label col-md-6 text-danger" })
    </div>
    <br />
    <button id="btnResetPassword2" type="submit" class="btn btn-outline-primary">Next Step</button>
  </form>
}
